* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #eee;
}

main {
  max-width: 600px;
  min-height: 99vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.container {
  border-bottom: 1px solid #eee;
  padding: 45px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(187, 186, 186);
  border-radius: 3px;
}

.inputs-container {
  padding: 15px 45px;
}

.form-input {
  margin-bottom: 15px;
  display: flex;
  /* flex-direction: column; */
  justify-content: left;
  align-items: center;
}

.form-input > input {
  width: 100%;
  padding: 10px 10px;
  background-color: #eee;
  border: none;
}

.form-input > input::placeholder {
  font-size: 1rem;
}
.btn {
  background-color: crimson;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.title {
  font-size: large;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  color: rgb(36, 35, 35);
  font-size: 1.1rem;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.icons {
  display: flex;
  gap: 5px;
}

.del{
    cursor: pointer;
}

#msg{
  text-align: center;
  font-size: small;
}


.error{
  color: red;
}

.success{
  color: rgba(9, 237, 55, 0.878);
}

.hidden{
  display: none;
}